.paperBorder > svg > path {
  transition: all 0.4s ease;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}
.featureBox {
  display: flex;
  flex-flow: column !important;
  justify-content: center;
  align-items: center;
}
.featureBox > div {
  border-radius: 0.4rem;
  width: 70%;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  color: white;
  transition: all 0.4s ease;
  transform: translateY(-20rem) rotate(0deg);
}
