.Typewriter__wrapper,
.Typewriter__cursor {
  font-size: 75px;
}

body {
  background-image: url("./assets/bgImage.svg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Cairo", "Aref Ruqaa", serif !important;
  transition: all 0.25s ease-in-out;
  padding: 0 !important;
  overflow: auto !important;
}

input {
  color: inherit !important;
  font-family: "Cairo", "Aref Ruqaa", serif !important;
}


a {
  display: contents;
  text-decoration: none;
  color: inherit;
}

.Mui-expanded>#panel1a-header {
  background-color: #ffe4e6 !important;
}
.toast-message{
  border-radius: 15px;
  width: fit-content;
}